



<!-- <mat-dialog-content [formGroup]="form"> -->
  
   
  
        <!-- <input matInput
                placeholder="EditNotes"
               formControlName="description">
    </mat-form-field> -->



    <mat-dialog-content [formGroup]="form">
     
            <!-- <button mat-icon-button style="padding-left:480px;">
                <mat-icon matSuffix><img src="../../assets/pin.svg" /></mat-icon>
              </button> -->
           <div>
          <input style=" width: 91%;margin-left: 10px;margin-bottom: 2px" matInput placeholder="Title"
            formControlName="title"/>
      
         
          <input role="textarea" style="margin-top: 5px; margin-left: 10px;" matInput placeholder="Take a note"
            formControlName="description"/>
          

          <div> 
            <button mat-icon-button *ngIf="timer">
              <!-- <mat-chip-list> -->
                  <mat-chip>
                    
                <mat-icon >schedule</mat-icon>
                {{currentDateAndTime}}
              <mat-icon>cancel</mat-icon>
              </mat-chip>
            <!-- </mat-chip-list> -->
             </button>
          </div>
        </div>
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start end">
            <button mat-icon-button>
              <mat-icon matTooltip="Remind me" [matMenuTriggerFor]="remainder">notification_important</mat-icon>
            </button>

            <mat-menu [overlapTrigger]="false" #remainder="matMenu">
              <button mat-menu-item>Remainder:</button>
              <button mat-menu-item (click)="today(01)">Later today 8:00AM</button>
              <button mat-menu-item (click)="tomorrow(01)">Tomorrow 8:00AM</button>
              <button mat-menu-item (click)="nextWeek(01)">
                Next week Mon,8:00AM
              </button>
              <button mat-menu-item [matMenuTriggerFor]="dates">

                <mat-icon>schedule</mat-icon>Pick date & time
              </button>
              <mat-menu #dates="matMenu">
                <mat-nav-list>
                  <mat-list role="List">
                    <div class="pickdate">

                      <mat-list-item id="pickAdjust">

                        <mat-icon matDatepickerToggleIcon matTooltip="Go back">keyboard_backspace</mat-icon>
                        <span>Pick date and Time </span>
                      </mat-list-item>

                    </div>

                    <mat-list-item>
                      <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </mat-list-item>

                    <button mat-menu-item [matMenuTriggerFor]="time">Pick Time </button>
                    <mat-menu #time="matMenu">
                      <button mat-menu-item>
                        <span>Morning<span> 8:00AM</span></span>
                      </button>
                      <button mat-menu-item>
                        <span>Afternoon 1:00PM</span>
                      </button>
                      <button mat-menu-item>
                        <span>Evening 6:00PM</span>
                      </button>
                      <button mat-menu-item>
                        <span>Night 8:00PM</span>
                      </button>
                      <button mat-menu-item>
                        <span>Custom</span>
                      </button>
                    </mat-menu>
                    <mat-list-item>
                      <button mat-menu-item [matMenuTriggerFor]="repeat">Does not repeat</button>
                      <mat-menu #repeat="matMenu">
                        <button mat-menu-item>
                          <span>Does not repeat</span>
                        </button>

                        <button mat-menu-item>
                          <span>Daily</span>
                        </button>
                        <button mat-menu-item>
                          <span>weekly</span>
                        </button>
                        <button mat-menu-item>
                          <span>Monthly</span>
                        </button>
                        <button mat-menu-item>
                          <span>Yearly</span>
                        </button>
                        <button mat-menu-item>
                          <span>Custom</span>
                        </button>
                      </mat-menu>

                    </mat-list-item>

                  </mat-list>
                </mat-nav-list>

              </mat-menu>
            </mat-menu>



            <button mat-icon-button>
              <mat-icon matTooltip="collaborator">person_add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="change color" [matMenuTriggerFor]="buttonMenu" mat-icon-button>
              <mat-icon>color_lens</mat-icon>
            </button>
            <mat-menu [overlapTrigger]="false" #buttonMenu="matMenu">
              <button matTooltip="Yellow" (click)="setColorToTitle('#fcf476')" mat-mini-fab class="colorlens"
                style="background-color:#fcf476"></button>
              <button matTooltip="Orange" (click)="setColorToTitle('#f8bc04')" mat-mini-fab class="colorlens"
                style="background-color:#f8bc04 "></button>
              <button matTooltip="Red" (click)="setColorToTitle('#f28b82 ')" mat-mini-fab class="colorlens"
                style="background-color:#f28b82 "></button>
              <button matTooltip="White" (click)="setColorToTitle('#ffffff ')" mat-mini-fab class="colorlens"
                style="background-color:#ffffff "></button>
              <br />
              <button matTooltip="Dark blue" (click)="setColorToTitle('#aecbfa ')" mat-mini-fab class="colorlens"
                style="background-color:#aecbfa "></button>
              <button matTooltip="Blue" (click)="setColorToTitle('#cbf0f8 ')" mat-mini-fab class="colorlens"
                style="background-color:#cbf0f8 "></button>
              <button matTooltip="Teal" (click)="setColorToTitle('#a7ffea ')" mat-mini-fab class="colorlens"
                style="background-color:#a7ffea "></button>
              <button matTooltip="Green" (click)="setColorToTitle('#ccff90 ')" mat-mini-fab class="colorlens"
                style="background-color:#ccff90 "></button>
              <br />
              <button matTooltip="Gray" (click)="setColorToTitle('#e8eaed')" mat-mini-fab class="colorlens"
                style="background-color:#e8eaed "></button>
              <button matTooltip="Brown" (click)="setColorToTitle('#e6c9a8 ')" mat-mini-fab class="colorlens"
                style="background-color:#e6c9a8 "></button>
              <button matTooltip="Pink" (click)="setColorToTitle('#fccfe8 ')" mat-mini-fab class="colorlens"
                style="background-color:#fccfe8 "></button>
              <button matTooltip="Purple" (click)="setColorToTitle('#d7aefb ')" mat-mini-fab class="colorlens"
                style="background-color:#d7aefb "></button>
            </mat-menu>
            <button mat-icon-button>
              <mat-icon matTooltip="Add image">insert_photo</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon matTooltip="Archive">archive</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon matTooltip="more" [matMenuTriggerFor]="More">more_vert</mat-icon>
            </button>
            <mat-menu #More="matMenu">
              <button (click)="deleteNote(n)" mat-menu-item>Delete note</button>
              <button mat-menu-item>Add label</button>
              <button mat-menu-item>Add drawing</button>
              <button mat-menu-item>Show checkboxes</button>
            </mat-menu>
            <div class="close"  fxLayout="row" fxLayoutAlign="end  end">
            <mat-dialog-actions>
               
                <button class="mat-button" (click)="close(form.value)">Close</button>
          </mat-dialog-actions>
             </div>
          </div>
       
     
      </mat-dialog-content>

        <!-- <mat-dialog-actions>
            <button class="mat-raised-button"(click)="close()">Close</button>
            <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
        </mat-dialog-actions> -->