<form class="example-form">
    <mat-card class=card>
      <h1>Register</h1>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="FirstName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="LastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" required>
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="password" required>
      <mat-icon matSuffix>visibility</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="confirm password" required>
    </mat-form-field>
   

    <a class="refReg" routerLink = "../login"> <button mat-button color="Link">Submit</button></a>
    
  </div>
</mat-card>
</form>