.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .header{
    text-align: center
  }
  .center{
    margin-top:50px; 
    }

    .blue{
      color:blue
  }
  .orange{
      color:orangered
  }
  .yellow{
      color:black
  }
  .green{
      color:green
  }
  // .mat-raised-button{
  //   margin-left:20%;
  //   margin-right:5%
  
  // }
  // .mat-raised-button{
  //   margin-left: 110px;
  //   margin-bottom: 5px; 
  //   }
    mat-card-title{
    font-weight: 100;
    }
    
    