<div class="center" fxLayout="row" fxLayoutAlign="center center">

  <form class="example-form" [formGroup]="registerForm">
    <mat-card class="card">
      <div style="text-align:center">
        <h2>
          <span class="blue">
            F
          </span>
          <span class="orange">
            u
          </span>
          <span class="black">
            n
          </span>
          <span class="green">
            d
          </span>
          <span class="blue">
            o
          </span>
          <span class="orange">
            o
          </span>
        </h2>
      </div>
      <h1 class="header">Register</h1>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="FirstName" formControlName="FirstName">
          <mat-error *ngIf="registerForm.controls['FirstName'].invalid">
            firstname is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="LastName" formControlName="Lastname">
          <mat-error *ngIf="registerForm.controls['Lastname'].invalid">
            lastname is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="username">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="registerForm.controls['username'].invalid">
            invalid email
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="password" formControlName="password">
          <mat-icon matSuffix>visibility</mat-icon>
          <mat-error *ngIf="registerForm.controls['password'].invalid">
            enter valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="conform password" formControlName="confirm">
          <!-- <mat-icon matSuffix>visibility</mat-icon> -->
          <mat-error *ngIf="registerForm.controls['confirm'].invalid">
            passowrd doesn't matches
          </mat-error>
          <mat-icon matSuffix>visibility</mat-icon>
        </mat-form-field>


        <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="LastName" formControlName="LastName">
          <mat-error *ngIf="LastName.invalid">plz enter lastname</mat-error>
        </mat-form-field> -->
        <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="username" required formControlName="username">
          <mat-error *ngIf="username.invalid">plz enter valid</mat-error>
 
          <mat matSuffix>mail</mat-icon>-icon
        </mat-form-field> -->
        <!-- 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="password" [type]="password" formControlName="password">
          <mat-error *ngIf="password.hasError('required')">mandatory</mat-error>
          <mat-icon matSuffix>visibility</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="confirm password" [type]="password" formControlName="conformpassword">
          <mat-error *ngIf="conformpassword.hasError('required')">mandatory</mat-error>

        </mat-form-field> -->


        <!-- <div class="button">
        <button mat-raised-button [disabled]="registerForm.controls['FirstName'].invalid || registerForm.controls['Lastname'].invalid ||registerForm.controls['username'].invalid ||registerForm.controls['passowrd'].invalid ||registerForm.controls['confirm'].invalid"
        (click)="Register()"
        class="buttonregister">
      </button>
    </div> -->

        <div fxLayout="row" fxLayoutGap="20px"  fxLayoutAlign="center center"> 
            <div ><button type="submit" mat-raised-button color="primary">Submit</button>      </div>
            <div ><a routerLink="../login"> <button mat-raised-button color="primary" click="register()">Register</button></a>    </div>

        </div>

      </div>
    </mat-card>
  </form>