<!--The content below is only a placeholder and can be replaced.-->
<div class="center" fxLayout="row" fxLayoutAlign="center center"></div>
<div style="text-align:center">
  <h2>
     <span class="blue">
     F
     </span>
     <span class="orange">
      u
      </span>
      <span class="yellow">
        n
        </span>
        <span class="green">
          d
          </span>
          <span class="blue">
            o
            </span>
            <span class="orange">
              o
              </span>
  </h2>
</div>

<router-outlet></router-outlet>