.flexcard{
    margin-left: 120px;
    margin-top: 30px;
    width: 1200px;
    // padding-bottom: 10px;
    // padding-top: 10px;
  
  }

  

  .trash{
      margin-top:25px;
      width:220px;
      //width: 1343px;
     // margin-left:50px;
    
  }
  