<div class="center" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="card">
    <form class="example-form" [formGroup]="ForgotForm">
      <h3 class="header">ForgotPassword</h3>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="ForgotForm.controls['email'].invalid">
          enter valid email
        </mat-error>
        
      </mat-form-field>
      <!-- <div class="button"> -->
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="login()">
          Submit
        </button>
      </div>

    </form>
  </mat-card>
</div>