<!-- <div class="center" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="card">
    <form class="example-form" [formGroup]="ForgotForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="password" formControlName="password">
        <mat-error *ngIf="ForgotForm.controls['password'].invalid">
          enter valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <matInput placeholder="confirm password" formControlName="confirm password">
          <mat-error *ngIf="ForgotForm.controls['confirmpassword'].invalid">
            enter valid email
          </mat-error>
      </mat-form-field>
      <div class="button">
        <button mat-raised-button (click)="forgot()" [disabled]="email.invalid" class="buttonregister">
          Submit
        </button>
      </div>
  </mat-card>
  </form>
</div> -->