.example-form {

    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .header{
    //background-color: rgb(113, 95, 236);
    color: black;
    text-align: center;
    padding-bottom: 15px;
    padding: 2%;
    font-family: sans-serif
  }
  
  
  .header{
    text-align: center
  }


  .center{
  margin-top:-10%; 
    margin-left: -2%;
    width: 100%;
  }
  .class{
    position: relative;;
    display:flex;
  }

.card{
  
  margin-left:20%;
  margin-right:10%;
  margin:20% 50%;
  width: 500%;
  }   
  .blue{
    color:blue
}
.orange{
    color:orangered
}
.black{
    color:black
}
.green{
    color:green
}
.mat-raised-button{
  margin-left:2%;
  margin-right:5%

}
  