<!-- <div fxLayout="row">
  <div fxFlex="20">
  </div>
  <div fxFlex="60">
      <mat-card>


      </mat-card>
  </div>
  <div fxFlex="20">
  </div>
</div> -->
<!-- flex layout  -->
<div class="center" fxLayout="row" fxLayoutAlign="center center">
  <!-- mat card starts -->
  <mat-card class="card">
    <form class="example-form" [formGroup]="LoginForm">
      <div style="text-align:center">
        <!-- header for fundoo -->
        <h2>
          <span class="blue">
            F
          </span>
          <span class="orange">
            u
          </span>
          <span class="black">
            n
          </span>
          <span class="green">
            d
          </span>
          <span class="blue">
            o
          </span>
          <span class="orange">
            o
          </span>
        </h2>
      </div>
      <!-- header for singin -->
      <h1 class="header"> SignIn</h1>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="LoginForm.controls['email'].invalid">
          enter valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input  matInput placeholder="password" formControlName="password" type="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :'visibility'}} </mat-icon>
        <mat-error *ngIf="LoginForm.controls['password'].invalid">
          enter valid password
        </mat-error>
      </mat-form-field>
    
       <a routerLink="/forgot" style="color:  #3373e8;" href="">Forgot Password?</a>
       <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center" >
       <button mat-raised-button color="primary" (click)="login(LoginForm.value)">Login</button>
       
        <a routerLink="../register"> <button mat-raised-button color="primary">Register</button></a>

      </div>
      <!-- form ends -->
    </form>
    <div align="center">{{errormsg}}</div>
    <!-- mat card ends -->
  </mat-card>
  <!--maain devision ends -->
</div>