.example-form {

    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .header{
    //background-color: rgb(113, 95, 236);
    color: black;
    text-align: center;
    padding-bottom: 15px;
    padding: 2%;
    font-family: sans-serif
  }
  
  
  .header{
    text-align: center
  }


  .center{
    margin-top:2%; 
    margin-left:-2%;
    width:100%;
  }
  .class{
    position: relative;;
    display:flex;
  }

.card{
  
  margin-left:400px;
    margin-right:400px;
    
    margin-top:120px;
    margin-bottom:100px;
    width: 500px;
  }
  
  /**
  *css for fundoo
  */
  .blue{
    color:blue
}
.orange{
    color:orangered
}
.black{
    color:black
}
.green{
    color:green
}
/**
css for button
*/
.mat-raised-button{
  margin-left:2%;
  margin-right:5%

}
  