.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
.width{
  
  width:16%;
  border: none;
}
  
.fundoo{
  margin-left:2%;
}
 

  .blue{
    color:blue
}
.orange{
    color:orangered
}
.black{
    color:black
}
.green{
    color:green
}
  

.ip {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  outline: none;
  padding: 11px 16px 11px 68px;
  margin-left:10%;
  width: 772px;
  
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
margin-right: 33px;
margin-left: -44px;
}




.icon-left{
  margin-left:500px;
}
.icon-right{
  margin-left:30px;
}
.example-spacer{
  margin-left:40px;
}


// .spacer {
//   height: 100px;
// }
.icon{
   margin-left:30%;



 
   
    // background-color: #feefc3 !important;
    }

.abc{
  margin-left: 30%;
  background: #F5F5F5;
  width: 65px;
  //border-radius: 1650%;

  //height: 50px;
  //width: 176px;
 //padding-left: 32px;
 display: inline-block;
 vertical-align: top;
  width: 75px;
 white-space: nowrap;
overflow: hidden;
 text-overflow: ellipsis;
//   border-top-right-radius:100px;
//  border-bottom-right-radius: 100px;

  // margin: 0px;
  // width: 400px;
  // height: 100px;
  // padding-left: 32px;
  // display: inline-block;
  // line-height: 40px;
  // vertical-align: top;
  // width: 176px;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // border-top-right-radius: 100px;
  // border-bottom-right-radius: 100px;
}