

  .note {
    position: relative;
    width: 600px;
    padding: 14px;
    margin-top: -520px;
    height: 35px;
    font-size: 17px;
    border-radius: 9px;
    margin-left:45%;

  }
  
  .notes {
    position: relative;
    width: 643px;
    padding: 14px;
    margin-top: -520px;

    font-size: 17px;
    border-radius: 9px;
    margin-left: 41%;

    
  }
  
.close{
  margin-top:-6%;
}

.notescard{
  margin-top:45px;
  display: inline-block;
  margin-left:-13%;
  margin-right: 138px;
  height: auto;
  width:  620px;
  border-radius: 15px;
 //padding-left:40px;
  padding-top:15px;
  color: #7E858A;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 16px;
 
}
  .noteList{
  margin-left:300px;
  margin-top: -20px;
  
  //height: 10%;
  display: inline-block;
  color:#7E858A;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 15px;
  border-radius: 9px;
}

  .iconss{
    margin-top:-3%;
   margin-left:-3%;
  }
 
.note-mat{
  margin-top:-400px;
  margin-left: 206px;
}



.row{
  // width: 500px;
  // max-height: 100px;
  margin-left:-120px;
  margin-top: 44px;
  width:220px;
  height:auto;
  display: inline-block;
  color:#7E858A;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 15px;
  border-radius: 9px


}

.colorlens {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 6px;
}


.col{
  // margin-top: 20px;
  // width: 6250px;
  // max-height: 100px;
  margin-left:150px;
  margin-top:-20px;
  width:643px;
 height: auto;
  display: inline-block;
  color:#7E858A;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 15px;
  border-radius: 9px;
}

.is-active
{
background-color: #FFEDC4;
}

.dateVisOn{
  visibility: none;

  }

.dateVisOff{
  visibility: hidden;

  }


  ::ng-deep.noteImage {
    width: 100% !important;
    height: 100% !important;
  }

