

  .note {
    position: relative;
    width: 600px;
    padding: 14px;
    margin-top: -520px;
    height: 35px;
    font-size: 17px;
    border-radius: 9px;
    margin-left:45%;

  }
  
  .notes {
    position: relative;
    width: 643px;
    padding: 14px;
    margin-top: -520px;

    font-size: 17px;
    border-radius: 9px;
    margin-left: 41%;

    
  }
  
.close{
  margin-top:-6%;
}

.notescard{
  margin-top:40px;
  display: inline-block;
  margin-left:-10%;
  margin-right: 138px;
  height: 160px;
  width:  180px;
  border-radius: 15px;
  padding-left: 39px;
  padding-top:15px;
  color: #7E858A;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 16px;
}
  .noteList{
  margin-left:300px;
  margin-top: -20px;
  width: 1020px;
  height: 10%;
  display: inline-block;
  color:#7E858A;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 15px;
  border-radius: 9px;
}

  .iconss{
    margin-top:-5%;
    margin-left:-20%;
  }
 
.note-mat{
  margin-top:-400px;
}