<!-- 
 <div fxLayout="row wrap" style="width:100%; height:10%">
    <p fxLayoutAlign="center center" fxLayout="row wrap" style="width:100%; height: 100%">
      <div *ngIf="flag===true" (click)="flip()" >
        <mat-card class="note" >
            <div style="margin-bottom: -30px;" (click)=flip() *ngIf="flag==true">
                <mat-form-field appearance="null">
                  <input matInput  style="margin-bottom: 17px;margin-top: -30%;" placeholder="Take a note..." />
                </mat-form-field>
            </div>
            <div style="margin-top:-80px;" fxLayout = "row" fxLayoutAlign="end start">
              <button mat-icon-button><mat-icon matTooltip="New List">check_box</mat-icon></button> 
              <button mat-icon-button><mat-icon matTooltip="Drawing is not available">brush</mat-icon></button>
              <button mat-icon-button><mat-icon matTooltip="New note with image"><img src="../../assets/picture(2).png" /></mat-icon></button>           
            </div>
        </mat-card>
      </div>
       <mat-card class="box" [ngStyle]="{ 'background-color': color }"> 
 <div style="margin-bottom: -30px;" *ngIf="!displayMain">
          <mat-form-field appearance="null">
            <input matInput (click)="displayMain = !displayMain" placeholder="Take a note..." />
          </mat-form-field>
        </div>
        </div> -->


<div fxLayout="row wrap" style="width:100%; height: 90%;">
  <p fxLayoutAlign="center center" fxLayout="row wrap" style="width:100%; height: 80%">
      <form class="example-form" [formGroup]="NotesForm">
    <div *ngIf="flag===true" (click)="flip()">
      <mat-card class="note">
     
        <div style="margin-bottom: -30px;" (click)=flip() *ngIf="flag==true">
          <mat-form-field appearance="null">
            <input matInput style="margin-bottom: 17px;margin-top: -30%;" placeholder="Take a note..." formControlName="note" />
          </mat-form-field>
        </div>
        <div style="margin-top:-80px;" fxLayout="row" fxLayoutAlign="end start">
          <button mat-icon-button>
            <mat-icon matTooltip="New List">check_box</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon matTooltip="Drawing is not available">brush</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon matTooltip="New note with image"><img src="../../assets/picture(2).png" /></mat-icon>
          </button>
        </div>
      </mat-card>
    </div>

    <div *ngIf="flag===false">
      <mat-card class="notes">
        <input style=" width: 91%;margin-left: 10px;margin-bottom: 10px" matInput placeholder="Title" />
        <button style="padding-top: 5px;" mat-icon-button>
          <mat-icon matSuffix><img src="../../assets/pin.svg" /></mat-icon>
        </button>
        <input role="textarea" style="margin-top: 15px; margin-left: 10px;" matInput placeholder="Take a note" />
       <div>
        
         <div fxLayout="row" fxLayoutAlign="end end" >
        <button mat-button color="primary">close</button></div>
      </div>
        
      </mat-card>
    </div>
  </form>
</div>


