

  .note {
    position: relative;
    width: 600px;
    padding: 14px;
    margin-top: -520px;
    height: 25px;
    font-size: 17px;
    border-radius: 9px;
    margin-left:45%;
  }
  
  .notes {
    position: relative;
    width: 643px;
    padding: 14px;
    margin-top: -520px;
    height: 125px;
    font-size: 17px;
    border-radius: 9px;
    margin-left: 41%;
  }
  
.close{
  margin-top:-6%;
}

.notescard{

  margin-top:40px;
    display: inline-block;
    //margin-left: -75px;
    margin-left:-10%;
    margin-right: 138px;
    height: 119px;
    width:  600px;
    border-radius: 15px;
    padding-left: 39px;
    padding-top:15px;
    color: #7E858A;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 16px;


  // position: relative;
  //   width: 600px;
  //   padding: 14px;
  //   margin-top: -520px;
  //   height: 25px;
  //   font-size: 17px;
  //   border-radius: 9px;
  //   margin-left:45%;
}
  .noteList{
  margin-left: -540px;
  margin-top: 90px;
  width: 580px;
  height: 70px;
  display: inline-block;
  color:#7E858A;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 15px;
  border-radius: 9px;


  // position: relative;
  //   width: 643px;
  //   padding: 14px;
  //   margin-top: -520px;
  //   height: 125px;
  //   font-size: 17px;
  //   border-radius: 9px;
  //   margin-left: 41%;
  }
