<mat-dialog-content class="class" >
  <form [formGroup]="labelform">
    <mat-label>Edit Labels</mat-label>
    <div>
      <button mat-icon-button >
        <mat-icon >close</mat-icon>
      </button>
      <mat-form-field>
        <input matInput placeholder="create new label" formControlName="labelname">
      </mat-form-field>

      <button mat-icon-button  (click)="close(labelform.value)">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<div class="done">
  <a mat-flat-button (click)="close(labelform.value)">Done</a>
</div>

<mat-dialog-actions>
  <mat-nav-list>

    <label role="listitem" *ngFor="let item of labels">
     <button mat-icon-button>
       <mat-icon >label</mat-icon>
     </button>
    <span class="notes">{{n.label}}</span>
     <button mat-icon-button class="btnclose">
       <mat-icon >delete_outline</mat-icon>
     </button>
   </label >
</mat-nav-list>
</mat-dialog-actions>

