
<mat-dialog-content class="class" >
  <form [formGroup]="labelform">
    <mat-label>Edit Labels</mat-label>
    <div>
      <button mat-icon-button >
        <mat-icon >close</mat-icon>
      </button>
      <mat-form-field>
        <input matInput placeholder="create new label" formControlName="labelname">
      </mat-form-field>

      <button mat-icon-button  (click)="send(labelform.value)">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>


<mat-dialog-actions>
  <mat-nav-list *ngFor="let n of label" >

    <a mat-list-item label role="listitem"   >
     <button mat-icon-button>
       <mat-icon class="labelicon" routerLinkActive="mat-accent">label</mat-icon>
     </button>
    <span class="notes"></span>
    <button mat-icon-button (click)="deletelabel(n.id)">
      <mat-icon routerLinkActive="mat-accent">delete</mat-icon>
    </button>
    <span class="labelname">
    <!-- <input matInput  value="{{n.labelname}}" appearence="null" > -->
    <input matInput [formControl]="updateLabel" value="{{n.labelname}}" appearence="null" >
    </span>
    <mat-icon class="editicon" (click)="editLabel(n.id)" routerLinkActive="mat-accent">
     edit</mat-icon>
  
   </a>
</mat-nav-list>
</mat-dialog-actions>
<mat-divider class="divider"></mat-divider>
<div class="done">
    <button mat-flat-button 
    (click)="send(labelform.value)">
   Done
</button>

  <!-- <a mat-flat-button (click)="send(labelform.value)">Done</a> -->
</div>


